/*definitions des couleurs*/
:root
    {
        --couleurfonce:#06792d;
        --couleurmedium:#16e85d;
        --couleurpale:#f0f6f6;
    }

body 
    {
        color: var(--couleurfonce);
        background-color: var(--couleurfonce);
    }

/*cadre au dessus du menu*/
#titre
   {
       width:70%;
       margin-left:auto; 
       margin-right:auto;
       padding-top : 15px;
       padding-bottom : 15px;
       padding-left : 10px;
       padding-right : 10px;
       text-align:center;
       background-color: var(--couleurpale);
   } 

#boite
   {
        display:flex;
        justify-content: flex-start;
        text-align: center;
        /* background-color: royalblue; */
   }

/*menu*/
nav
    {
        text-align:center;
        width: 70%;
        margin: 0px auto 0px auto;
        background-color: var(--couleurfonce);
        position: sticky;
        padding-top: 10px;
        padding-left : 10px;
        padding-right : 10px;
        padding-bottom: 10px;
        top: -1px;
    }

/*bouton pour aller sur une autre page*/
a.bouton1 
    {
	    padding: 10px 15px; 
		background: var(--couleurfonce); 
		color: var(--couleurpale); 
        font-weight: bold;
        /*border: 2px solid #B0D8E8;*/
        margin: 3px 3px 3px 3px;
        display: inline-block;
        font-size: 18px;
        border-radius: 18px;
        -webkit-border-radius: 11px;
		-moz-border-radius: 11px;
        -webkit-transition: all 0.5s ease-out 0s;
		-moz-transition: all 0.5s ease-out 0s;
		transition: all 0.5s ease-out 0
	}
a.bouton1:hover 
    {
		background: var(--couleurmedium); 
        color: var(--couleurfonce);
    }

/*bouton quand on est sur la page*/
a.bouton2 
    {
		padding: 10px 15px; 
		background: var(--couleurmedium); 
        margin: 3px 3px 3px 3px;
        display: inline-block;
		color: var(--couleurfonce); 
		font-weight: bold;
        font-size: 18px;
        border-radius: 18px;
        -webkit-border-radius: 11px;
		-moz-border-radius: 11px;
    }

/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after{
    content: "";
    display: table;
    clear: both;
}




/*style du contenu de la page*/
.conteneur
{
  width:70%;
  text-align:justify;
  margin-left:auto; 
  margin-right:auto; 
  padding:10px 10px 10px 10px;
  background-color: var(--couleurpale);
}

/*boite flottante a droite*/
.rightbox
    {
        float : right;
        margin-left:20pt;
    }

/*mise en forme des traits qui separent les différentes sections*/
hr 
    {
        height:2px;
        width:100%;
        background-color:var(--couleurfonce);
        align:left;
        margin-top:5pt;
        border:0;
    }

/*coloration des liens*/
a 
    {
        color: var(--couleurfonce);
    }


    /*boite flottante a gauche*/
#boitephoto
{
    
    /* background-color: purple; */
    height :200px ;
    width : 200px;
}

#photo
{
    clip-path: ellipse(50% 50%);
}

#boitenom
{
    /* display: flex; */
    display: table-cell;
    vertical-align: middle;
    /* justify-content: center;
    align-items: center;  */
    /* position : relative; */
    height:200px;
    width:100%;
    /* background-color: coral; */
}

#nom
   {    
        /* position : absolute; */
        /* /* top: 50%;  */
        /* left: 100%;  */
        /* transform: translate(-50%,-50%); */

        padding-top : 68px;
        height:auto;
        font-weight:bold;
        font-size:64px;
        padding-left: 1px;
        /* background-color: redvar(--couleurpale); */
   } 

    /*boite flottante a gauche*/
    #boitelangue
    {
        
        /* background-color: purple; */
        height :50px ;
        width : 100px;
        padding-top : 10px;
        padding-right: 20px;
    }